body {
    font-family: arial;
    color: #333;
}

#wrap {
    width: 500px;
    padding: 20px;
    margin: 10px auto;
    border: 4px solid #ddd;
    background: #fff;
}

h1 {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ddd;
}

input[type=text],
input[type=password] {
    display: block;
    margin-bottom: 10px;
}

.msg {
    width: 500px;
    background: #ffd;
    border: 2px solid #dda;
    text-align: center;
    margin: 10px auto;
    font-size: 13px;
    padding: 6px;
}